.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8BC6EC 0%, #d4e295 100%);
}

.auth-card {
  width: 350px;
  padding: 50px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  animation: fadeIn 0.4s ease;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.auth-form input:focus {
  outline: none;
  border-color: #6a5acd;
  box-shadow: 0 0 5px rgba(106, 90, 205, 0.3);
}

.auth-btn {
  width: 100%;
  padding: 12px 14px;
  background: linear-gradient(135deg, #7cea66, #764ba2);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.auth-btn:hover {
  transform: scale(1.05);
}

.auth-links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap:12px;
}

.auth-links a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}
.link-btn{
  flex:1;
  text-align:center;
  padding:10px;
  border-radius:8px;
  text-decoration:none;
  transition:0.3s;
}
.link-btn:hover{
opacity:0.8;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
