body{
    background:#f5f7fa;
    font-family:"Inter",Arial,sans-serif;
}
.po-container{
    width:90%;
    max-width:1400px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0px 4px 20px rgba(0,0,0,0.8);
}
.po-header{
    font-size:25px;
    font-weight:700;
    color:#333;
    margin-bottom:20px;
}
.po-section{
    background:#ffffff;
    padding:20px;
    border-radius:14px;
    margin-bottom:25px;
    transition:0.2s ease;
    overflow-x:auto;
}
.po-section:hover{
    border-color:#d0d7df;
}
.po-section h3{
    font-size:18px;
    color:#444;
    margin-bottom:15px;
}
.po-row{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}
.po-row input,
.po-row select{
    flex:1;
    padding:10px;
    border:1px solid #cbd5e1;
    border-radius:10px;
    font-size:14px;
    transition:0.2s;
}
.po-row input:focus{
    border-color:#4688e5;
    box-shadow:0px 0px 5px rgba(99,102,241,0.2);
    outline:none;
}
.po-table{
    width:100%;
    max-width:100%;
    table-layout:fixed;
    border-collapse:collapse;
    margin-top:10px;
    border-radius:12px;
    overflow:hidden;
}
.po-table thead{
    background:#467ee5;
    color:white;
}
.po-table th,
.po-table td{
    padding:12px;
    border-bottom:1px solid #eee;
    text-align:center;
    word-wrap:break-word;
}
.btn{
    padding :10px 20px;
    background:#46e54b;
    color:black;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition:0.2s ease;
}
.add-btn{
background:#22c55e;
color:white;
}
.add-btn:hover{
    background:#e5c546;
}
.delete-btn{
    background:#dc2626;
    color:white;
    padding:8px 12px;
    font-size:13px;
    border-radius:8px;
    white-space:nowrap;

}
.submit-btn{
    background:#4f46e5;
    color:white;
    width:40%;
    padding:14px;
    font-size:16px;
}
.submit-btn:hover{
    background:#38ca94;
    transform:translateY(-1px);
}