.supplier-container{
    width:95%;
    margin:auto;
    padding:20px;
    font-family:"Poppins",sans-serif;
}
.dashboard-cards{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}
.card{
    flex:1;
    background:#fff;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.card h3{
    font-size:32px;
    margin:0;
}
.card p{
    color:gray;
    margin-top:8px;
}
.supplier-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.add-btn{
    padding:8px 18px;
    background:#007bff;
    border:none;
    color:white;
    cursor:pointer;
    font-size:14px;
}
.add-btn:hover{
    background:#005fcc;
}
.search-bar input{
    width:260px;
    padding:8px;
    border-radius:6px;
    border:1px solid gray;
    margin:15px 0;
}
.supplier-table{
    width:100%;
    border-collapse:collapse;
}
.supplier-table th,
.supplier-table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}
.supplier-table th{
    background:#f1f1f1;
}
.edit-btn{
    padding:6px 12px;
    background:#ffcc00;
    border:none;
    cursor:pointer;
    margin-right:8px;
    border-radius:6px;
    font-weight:bold;
}
.delete-btn{
    padding:6px 12px;
    background:#d9534f;
    border:none;
    cursor:pointer;
    color:white;
    margin-right:8px;
    border-radius:6px;
    font-weight:bold;
}
.supplier-form{
    background:#ffffff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,0.15);
    max-width:500px;
    margin:auto;
}
.supplier-form label{
    display:block;
    font-weight:600;
    color:#222;
    margin-bottom:6px;
    font-size:15px;
}
.supplier-form input,
.supplier-form select{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #b4b4b4;
    background:#fff;
    font-size:15px;
    color:#000;
    outline:none;
}
.supplier-form input::placeholder{
    color:#555;
}
.supplier-form input:focus,
.supplier-form select:focus{
    border-color:#4a80f5;
    box-shadow:0 0 4px rgba(74,128,245,0.4);
}
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}
.modal-content input{
    font-weight:20px;
    width:100%;
    padding:7px;
    margin-bottom:10px;
    border-radius:6px;
    border:1px solid gray;
}
.rating-stars{
    margin:10px 0 15px 0;
}
.star{
    font-size:25px;
    color:#ccc;
    cursor:pointer;
    margin-right:5px;
}
.star.active{
    color:gold;
}
.modal-buttons{
    display:flex;
    justify-content:space-between;
}
.save-btn{
    background:#28a745;
    padding:7px 15px;
    color:white;
    border:none;
    border-radius:6px;
    font-weight:bold;
}
.cancel-btn{
    background:#6c757d;
    padding:7px 15px;
    color:white;
    border:none;
    border-radius:6px;
    font-weight:bold;
}